<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteBase /
	RewriteBase /silexlivros.dev/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
	#RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>